.toolbar {
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background: rgba(30, 33, 36, 0.85);
    height: 80px;
}

.toolbar-logo {
    position: absolute;
    left: 0;
}

.nav-items {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    right: 0;
    margin-right: 50px;
}

@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
}

@media (min-width: 768px) {
    .toolbar-logo {
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .toolbar-logo {
        position: relative;
    }
}