.side-drawer {
  height: 100%;
  background: #424549;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 200;
  transform: translate(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.side-drawer li {
  margin: .5rem 0;
}

.drawer-nav-buttons {
  border: 2px solid orange; 
  // margin-top: 25px;
  width: 100px;
  padding: 5px;
  font-size: 1.25rem; 
  background: transparent;
  color: orange;
  border: 2px solid orange;
  border-radius: 5px; 
}

@media (min-width: 769) {
  .side-drawer {
      display: none;
  }
}