.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: #1e2124;
  flex-direction: column;
}

.contact-me {
  color: white;
  margin: 0px 100px;
  max-width: 850px;
}

.modal-button {
  border: 2px solid orange; 
  margin-top: 25px;
  padding: 10px;
  font-size: 1.75rem; 
  background: transparent;
  color: orange;
  border: 2px solid orange;
  border-radius: 5px; 
}