@import "../../Global.scss";

.side-element-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 50px;
  z-index: 5;
}

.side-element-wrapper.light {
  a {
    color: $font-primary;
  }
  .svg-icon {
    stroke: $font-primary
  }
}

.side-element-wrapper ul {
  height: 50%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  height: 20px;
  margin-bottom: 15px;
  stroke: #c2fcf7;
}

.email-link {
  color: #c2fcf7;
  // margin-left: 15px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 25px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-decoration: none;
  font-size: 12px;
}

@media (max-width: 768px) {
  .side-element-wrapper {
      display: none;
  }
}