.image-gallery-image {
  max-width: 100%;
}

// .carousel {
//   margin-top: 50px;
//   // max-width: 575px;
// }

@media (min-width: 768px) {
  .carousel {
    position: relative;
    left: 0;
    max-width: 650px;
    // margin-left: 150px;
  }
}

@media (max-width: 768px) {
  .carousel {
    position: relative;
  }
}
