.image-gallery-image {
  max-width: 100%;
}

.carousel {
  margin-top: 80px;
  max-width: 575px;
}

@media (min-width: 768px) {
  .carousel {
    margin-top: 80px;
    position: relative;
    left: 0;
    max-width: 650px;
    margin-left: 150px;
  }
}
