.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background: #1e2124;
  height: 80px;
  z-index: 1;
}

.svg-icon {
  height: 50px;
}

.footer-blurb {
  margin-right: 15px;
}