.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background: rgba(30, 33, 36, 0.85);
  height: 80px;
}

.svg-icon {
  height: 50px;
}