@import "../../Global.scss";

.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // color: white;
  background-color: $background-primary;
  flex-direction: column;
  // border: 1px solid lightgray;
}

.section-title {
  font-size: 3.4rem;
  margin-bottom: 30px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  gap: 16px;
  @media (min-width: $md) {
  }
}

.project-card {
  position: relative;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  background: #36393e;

  @media (min-width: $md) {
    min-width: 400px;
    max-width: 400px;
  }

  .project-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: 600;
    color: $font-secondary;
    margin-bottom: 1.8rem;
  }
  
  .card-blurb {
    margin-bottom: 2rem;
  }
  
  .card-link {
    text-decoration: none;
    color: orange;
  }
  
  .repo-icon {
    height: 30px;
    top: 0;
    right: 0;
    margin: 10px;
  }
  
  .folder-icon {
    height: 30px;
    position: relative;
  }
  
  .technologies {
    font-size: 1.4rem;
    color: white;
  }
}
