.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: #1e2124;
  flex-direction: column;
}

.section-title {
  font-size: 1.8rem;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 50px 0;
  justify-content: center;
  align-items: center;
  // margin-top: 80px;
}

.project-card {
  height: 175px;
  width: 400px;
  padding: 20px;
  margin-left: 25px;
  background: #36393e;
  margin-bottom: 25px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-blurb {
  margin-bottom: 15px;
}

.card-link {
  text-decoration: none;
  color: orange;
}

.repo-icon {
  height: 30px;
  // margin-bottom: 0;
}
