.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: #B3B3B3;
    flex-direction: column;
}

.animated-name {
    display: flex;
    font-size: 2rem;
}

.blurb {
    font-size: 1.5rem;
}