@import "../../Global.scss";

.first-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e2124;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
    flex-direction: column;
}

.first-section.light {
    background-color: white;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
    p {
        color: $font-primary;
    }
    .blurb {
        color: black;
    }
}

.first-section.dark {
    .blurb {
        color: white;
    }
}

.animated-name {
    display: flex;
    font-size: 8rem;
}

.intro {
    font-size: 24px;
    color: white;
}

.name {
    font-size: 60px;
    color: orange;
}

.blurb {
    font-size: 28px;
}